/build
*.apk
local.properties
*.pro
bin/
gen/
out/
.gradle/
*.log
# IntelliJ (IDE配置文件)
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches