<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.littesandbox.clicksandbox">

    <!-- 修改或删除 SD 卡中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/sand"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

          
        </activity>
        <activity
            android:name=".wechat"
        >

        </activity>
        <activity
            android:name=".MoreGame"
        >

        </activity>
        <activity
            android:name=".Splash"
        >
            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
            
        </activity>
        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>

    </application>

</manifest>
